.tab-content-container {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 60px;
  overflow: hidden;
}

.skeleton-header {
  display: flex;
  margin-left: calc((max(512px, 50vw) / 2 + 110px) * -1);

  > span {
    display: flex;
    gap: 15px;
    > span {
      width: max(512px, 50vw);
      height: max(288px, 25vw);
    }
  }

  @media (max-width: 768px) {
    margin-left: 0;

    > span {
      display: flex;
      gap: 10px;
      > span {
        width: 288px;
        height: 168px;
      }
    }
  }
}
